// Variables

// Page setup
$website-width: 1280px;

// Images
$nav-logo: url("../dist/img/Sonatic-logo.png");

// colors

// Theme colors
$test: red;
$test2: blue;
$main-color: #076acd;
$main-secondary: #539cdf;
$main-background: #fff;
$main-light: #d9f4ff;
$white: #fff;

$lighter-color: hsl(0, 0%, 95.61%);
$light-color: hsl(0, 0%, 90.25%);
$darker-color: hsl(0, 0%, 87.25%);

// Logo colors
$logo-dark: #29353b;
$logo-main: #0066cc;
$logo-light: #cfd8dc;

// Font colors
$font-color: #263238;
$font-light: hsl(0, 0%, 99);
