@import "config";
@import "utilities";
@import "media";

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Typology
html {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: $font-color;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
  // background-color: $lighter-color;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}

// Header typography
.top-line {
  font-weight: 400;
  font-size: 2.5rem;
}

.second-line {
  font-weight: 700;
  font-size: 2.5rem;
}

body {
  line-height: 1.6;
  background-color: $main-background;
}

// Utilities
// Page
.header-container {
  max-width: $header-width;
  margin: 0 auto;
  padding: 0 1em;
}

.content-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 1em;
}

// Components
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: 400;
}

i {
  display: inline-block;
}

.btn {
  border: 1px $main-color solid;
  padding: 0.8em;
  width: 35%;
  font-weight: 500;
  font-size: 1em;
}

.btn-light {
  background-color: $main-background;
  color: $font-color;
}

.btn-dark {
  background-color: $main-color;
  color: $font-light;
}
// Header

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px $darker-color solid;
  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    border: 0;
  }
}

.nav-logo {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  margin: 1rem 0;
  // @include devices(mobile) {
  //   justify-content: center;
  //   align-items: center;
  // }
}

.logo-heading {
  padding: 1em 0;
  @include devices(mobile) {
    text-align: center;
    margin: auto;
    width: 100%;
  }
}

.logo {
  @include devices(mobile) {
    display: none;
  }
}

.nav-links {
  @include devices(tablet) {
    display: none;
  }

  display: flex;
  padding: 1em 0;
  margin: 0.8em 0;
  max-width: 100%;

  line-height: 1;

  li {
    padding: 0 1em;
  }

  li:hover {
    color: $main-color;
  }

  li a {
    font-weight: 400;
    font-size: 0.8rem;
  }
}

// Nav toggle
.nav-toggle {
  display: none;
  @include devices(tablet) {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    padding: 1em;
    margin: 1em;
    background-color: $main-background;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    line-height: 1;

    @include devices(mobile) {
      position: relative;
      margin: auto;
    }
  }

  &:hover {
    // border: 2px $light-color solid;
    background-color: $lighter-color;
  }

  .menu-heading {
    font-size: 1.5em;
    font-weight: 500;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .menu-heading {
    display: inline-block;
    margin: 0 0 0 0.5rem;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 1.5em;
    height: 0.09rem;
    background-color: $font-color;
    // transition: transform 258ms ease-in-out;
    @include devices(mobile) {
      width: 2em;
      height: 0.15rem;
    }
  }
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

.nav-open .mobile-menu {
  display: flex;
}

// Mobile menu display
.mobile-menu {
  display: none;
  @include devices(tablet) {
    position: relative;
    flex-direction: column;
    box-shadow: 0 0 3em $darkest-color;
    margin: auto;
    width: 80%;
    background-color: $main-background;
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .mobile-links {
    display: none;
    @include devices(tablet) {
      display: block;
    }
    @include devices(mobile) {
      text-align: center;
    }
  }
  .mobile-links .link-div {
    border-bottom: 1px $darker-color solid;
    margin: auto;
    padding: 1em;

    &:hover {
      background-color: $lighter-color;
    }

    i {
      margin-left: 0.9em;
    }
  }
}

// Header content
.header-content {
  // border: 1px $test2 solid;
  padding-top: 1.5rem;

  h1,
  h3 {
    text-align: center;
    margin: 0 auto;
  }

  h3 {
    line-height: 1.7;
  }
}

// Intro Content
.intro-content {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include devices(mid) {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
  }
}

.intro-info {
  display: flex;
  flex-direction: column;
  @include devices(mid) {
    max-width: 80%;
    text-align: center;
    margin: auto;
  }

  .intro-heading {
    font-weight: 700;
    font-size: 44px;
    margin: 1rem 0 1rem 0;
  }

  .intro-text {
    max-width: 70%;
    margin-bottom: 2rem;
    @include devices(mid) {
      margin: auto;
    }
  }

  .intro-buttons {
    @include devices(mid) {
      margin-top: 2rem;
    }
    .btn:hover {
      box-shadow: 0 0 8px $btn-hover;
    }
    .btn-dark {
      margin-left: 0.5rem;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}

.intro-image {
  height: 100%;
  width: 100%;
  @include devices(mid) {
    width: 50%;
    margin: 2rem auto;
  }
}
