// colors
:root {
  /***********************
  * Key to variable codes
  ************************/

  // a = default
  // b = alt
  // z = alt two
  // c = color
  // t = theme
  // p = primary
  // s = secondary
  // l = light
  // d = dark

  // Color theme = ct

  // Brand = br
  --cta-brp: #076acd;
  --cta-brs: #539cdf;

  // Font = ft
  --cta-ftd: #29353b;
  --cta-ftl: hsl(0, 0%, 99%);

  // Background = bg
  --cta-bg: #fff;
  --cta-bgp: #fff;
  --cta-bgs: var(--lshade-5);

  // logo
  --cta-plogo: #0066cc;
  --cta-llogo: #cfd8dc;
  --cta-dlogo: #29353b;

  // Buttons = btn

  // Primary
  --cta-pbtn-bg: #076acd;
  --cta-pbtn-txt: var(--cta-ftl);
  // Light
  --cta-lbtn-bg: var(--cta-bgp);
  --cta-lbtn-txt: var(--cta-ftd);
  // Hover
  --cta-btn-hover: #0693e3;

  // Black, white, gray
  --blk: #000;
  --wht: #fff;
  --gry: #333;

  // light-shades
  --lshade-1: hsl(0, 0%, 70%);
  --lshade-2: hsl(0, 0%, 87%);
  --lshade-3: hsl(0, 0%, 90%);
  --lshade-4: hsl(0, 0%, 95%);
  --lshade-5: hsl(0, 0%, 97%);

  // test colors for production
  --ts-red: red;
  --rs-blue: blue;
}
