@font-face {
  font-family: museo-sans;
  src: url("../../assets/fonts/museo-sans-500/MuseoSans_500-webfont.eot");
  src: url("../../assets/fonts/museo-sans-500/MuseoSans_500-webfont.svg");
  src: url("../../assets/fonts/museo-sans-500/MuseoSans_500-webfont.ttf");
  src: url("../../assets/fonts/museo-sans-500/MuseoSans_500-webfont.woff");

  font-family: "PT Sans", sans-serif;
}
