@use "../abstracts/media" as media;

// Header

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px var(--lshade-2) solid;
  margin-inline: auto;
  width: 100%;
  @include media.devices(mobile) {
    // flex-direction: column;
    // align-items: baseline;
    padding: 0;
    border: 0;
  }
}

.logo-heading {
  padding: 1em 0;
  @include media.devices(mobile) {
    text-align: left;
    width: 50%;
    padding: 0;
    margin: 2rem 0 0 2rem;
    font-size: 2rem;
    color: var(--cta-brp);
  }
}

.nav-logo {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  margin: 1rem 0;

  @include media.devices(mobile) {
    // display: none;
    // text-align: center;
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
  }
}

.logo {
  @include media.devices(mobile) {
    display: none;
    width: 0;
  }
}

.nav-links {
  @include media.devices(tablet) {
    display: none;
  }

  display: flex;
  padding: 1em 0;
  margin: 0.8em 0;
  max-width: 100%;

  line-height: 1;

  li {
    padding: 0 1em;
  }

  li:hover,
  li:focus {
    color: var(--cta-brp);
  }

  li a {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

// Header content
.header-content {
  padding-top: 1.5rem;

  h1,
  h3 {
    text-align: center;
    margin: 0 auto;
  }

  h3 {
    line-height: 1.7;

    a {
      color: var(--cta-brp);
    }
  }

  @include media.devices(mid) {
    .first-word {
      display: none;
    }
  }

  @include media.devices(mobile) {
    .second-line {
      display: none;
    }

    .comma {
      display: none;
    }
  }
}
