@use "../abstracts/media" as media;

// Nav toggle

.nav-toggle {
  display: none;
  // @include media.devices(tablet) {
  //   position: absolute;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   right: 0;
  //   background-color: var(--cta-bgp);
  //   border-radius: 6px;
  //   border: 0;
  //   cursor: pointer;
  // }
  @include media.devices(mobile) {
    position: absolute;
    right: 3rem;
    top: 2.3rem;
    width: 2rem;
    height: 1rem;
    display: grid;
    place-content: center start;
    margin-block: 1rem;
    // margin-block: auto;
    // margin-inline-end: 1.6rem;
    // display: grid;
    // place-content: baseline end;
    // top: 0;
    // left: 0;
    // flex-direction: column;
    // align-items: center;
    // justify-content: flex-end;
    // margin-inline-end: 1.5rem;
    // padding-block: 1rem;
    cursor: pointer;
    // width: 100%;
    // height: auto;
  }

  // &:hover,
  // &:focus {
  //   background-color: var(--lshade-4);
  // }

  // .menu-heading {
  //   font-size: 1.5em;
  //   font-weight: 500;
  //   margin-inline-start: 1rem;

  //   padding-block-end: 0.6rem;
  // }

  .hamburger {
    display: block;
    position: relative;
    margin-inline-end: 2rem;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2rem;
    height: 0.15rem;
    background-color: var(--cta-ftd);
    // transition: transform 258ms ease-in-out;
  }
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

.nav-open .mobile-menu {
  display: flex;
}
