// Page
.header-container {
  max-width: var(--header-width);
  margin: 0 auto;
  padding: 0 1em;
}

.content-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 3rem;
}

// Main page content
.background-color {
  background-color: var(--wht);
  width: 100%;
  margin: auto;
  padding: 18vh 0;
}

// Buttons
.btn {
  border: 1px var(--cta-brp) solid;
  padding: 0.8em;
  width: 35%;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 8px var(--cta-btn-hover);
}
.btn-dark {
  margin-left: 0.5rem;
  &:hover,
  &:focus {
    background-color: var(--cta-btn-hover);
  }
}

.btn-light {
  background-color: var(--cta-bgp);
  color: var(--cta-ftd);
}

.btn-dark {
  background-color: var(--cta-brp);
  color: var(--cta-ftl);
}
